@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

.brd {
  border: 1px solid red;
}
.bg {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.175) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.ellipsePossition {
  left: calc(50% + 27px);
}

.section2Bg {
  background-color: #13142c;
}
.homeSection4Bg {
  background: linear-gradient(
    142.82deg,
    #3f51b5 -31.39%,
    rgba(63, 81, 181, 0) 60.03%
  );
}
